
body {
  font-size: 15px;
  line-height: 1.5;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}


#main {
  padding: 10px;
}

#main h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
}

#main h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}

#main h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}

.editor {
    width: 380px;
    height: 510px;
    font-size: 14px;
}

.editor-wrapper {
    width: 380px;
    height: 510px;
}

.save-button {
  margin-top: 10px;
  margin-right: 50px;
  padding: 10px;
  display:block;
  text-align:center;
  float: right;
  font-size: 18px;
  color: #fff;
  background-color: #2e79ff;
  border: none;
}

.save-button:hover,
.save-button.hover {
  background-color: #335af7;
}

.title-wrapper {
  padding-bottom: 10px;
}

.title-input {
  min-width: 500px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: solid 1px #dcdcdc;
  transition: .3s ease;
  background-color : #fafafa;
}

input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border: none;
  border-bottom: solid 1px #707070;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
